<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Cottage list</h1>
    {% for cottage in object_list %}
    <h2>{{cottage.cottage_id}}</h2>
    <!-- Format 2 card bootstrap div
    <p>{{post.excerpt}}</p>
    <p>Author: {{post.author}}</p> -->
    {% endfor %}
    <h1>Review list</h1>
    {% for review in object_list %}
    <h2>{{review.review_id}}</h2>
    <!-- Format 3 card bootstrap div
    <p>{{post.excerpt}}</p>
    <p>Author: {{post.author}}</p> -->
    {% endfor %}
</body>

</html>