{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

  <!-- Pulldown menu -->
    <div class="d-flex justify-content-center mb-4">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="cottageDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ cottage.pretty_name }} 
        </button>
        <ul class="dropdown-menu" aria-labelledby="cottageDropdown">
            {% for c in cottages %}
                <li>
                    <a class="dropdown-item" href="{% url 'cottage_detail' c.slug %}">
                      {{ c.pretty_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <!-- Cottage Details Card -->
     <!-- Cottage Image Carousel -->
    <div class="card mb-4">
        <div id="cottageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for img in images %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ img.image.url }}" class="d-block w-100" alt="{{ img.caption|default:cottage.pretty_name }}">
                {% if img.caption %}
                <div class="carousel-caption d-none d-md-block">
                  <p>{{ img.caption }}</p>
                </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#cottageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#cottageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
            <h2 class="card-title" id="description">{{ cottage.id }}</h2>
            <p class="card-text">{{ cottage.description }}</p>
            <hr>
            <h4 id="features">Features</h4>
            <ul>
                {% if cottage.bedrooms %}<li>Bedrooms: {{ cottage.bedrooms }} Bathrooms: {{ cottage.bathrooms }}</li>{% endif %}
                {% if cottage.price_per_night %}<li>Price per night: £{{ cottage.price_per_night }}</li>{% endif %}
            </ul>
            <hr>
            <h4 id="booking">Booking Info</h4>
            <!-- Booking form -->
        </div>
    </div>
</div>

<div class="container">
    
    <!-- Displaying count of reviews -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ review_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Reviews -->
  <div class="row">
    <div id="reviews-section" class="col-md-8 card mb-4  mt-3 ">
      <h3>Reviews:</h3>
      <div class="card-body">
        {% for review in page_obj %}
        <div class="p-2 reviews">
        {% if not review.approved and review.guest == user %}
          faded
        {% elif not review.approved %}
          d-none
        {% endif %}
        <p class="font-weight-bold">
          {{ review.guest }}
          <span class="font-weight-normal">{{ review.created_on }}</span> wrote:
        </p>

        <h4 class="truncate-one-line d-block fs-5 fs-md-6" style="max-width: 100%; width: 100%;">{{ review.title }}</h4>

        {% if review.featured_image %}
          <img src="{{ review.featured_image.url }}" alt="Review Image" id="review-image" class="img-fluid" />
        {% endif %}

        <div id="review{{ review.slug }}">
          {{ review.body | linebreaks }}
        </div>

        {% if not review.approved and review.guest == user %}
          <p class="approval">This review is awaiting approval</p>
        {% endif %}

        {% if user.is_authenticated and review.guest == user %}
            <button class="btn btn-delete" 
          data-url="{% url 'review_delete' slug=cottage.slug review_slug=review.slug %}">
            Delete
          </button>
          <button class="btn btn-edit" data-review-slug="{{ review.slug }}">Edit</button>
        {% endif %}
        </div>
        <!-- End of review -->
        <hr>
        <!-- Review pagination -->
        {% if is_paginated %}
          <div class="d-flex justify-content-between my-4">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}#reviews-section" class="btn btn-outline-dark btn-lg">
                &laquo; Previous Review
              </a>
            {% else %}
              <span></span>
            {% endif %}

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}#reviews-section" class="btn btn-dark btn-lg">
                Next Review &raquo;
              </a>
            {% endif %}
          </div>
        {% endif %}
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Reviews -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
         {% if not review.approved and review.guest == user %}
          faded
        {% elif not review.approved %}
          d-none
        {% endif %}
        {% if user.is_authenticated %}
        <h3>Leave a review:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="reviewForm"
        method="post"
        enctype="multipart/form-data"
        data-slug="{{ cottage.slug }}"
        style="margin-top: 1.3em;"
        >
          {{ review_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}
