{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container col-12 mt-1">
  <!-- reviews paginated by 3  by cottage -->
  {% for cottage, page_obj in paginated_reviews_by_cottage.items %}
    <div class="row mb-2">
      <div class="col-12">
        <h2 class="text-center text-capitalize my-4">{{ cottage.cottage_id }} Reviews</h2>
      </div>
    </div>

    <div class="row">
      {% for review in page_obj.object_list %}
        <div id="reviews-section" class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <!-- custom css -->
                <h4 class="truncate-one-line d-block fs-5 fs-md-6"
                style="max-width: 100%; width: 100%;"
                >{{ review.title }}
                </h4>
                {% if review.featured_image %}
                  <img src="{{ review.featured_image.url }}" alt="Review Image" class="img-fluid"/>
                {% endif %}
                <div id="review{{ review.id }}">
                  {{ review.body | linebreaks }}
                </div>
                  <p class="card-text">Rating: {{ review.rating }}/5</p>
                  <p><span class="font-weight-normal">{{ review.created_on }}</span> wrote:</p>
              </div>
            </div>
        </div>
        {% endfor %}

    <!-- Pagination controls per cottage -->
    <div class="d-flex justify-content-between my-3">
    <!-- Next button condition -->
    {% if page_obj.has_previous %}
      <a href="?page_{{ cottage.slug }}={{ page_obj.previous_page_number }}#reviews-section" class="btn btn-outline-dark">
        &#8592; Previous 3 Reviews
      </a>
    {% else %}
    <!-- Keeps spacing consistent if no previous page -->
      <span></span>
    {% endif %}
    <!-- Next button condition -->
    {% if page_obj.has_next %}
      <a href="?page_{{ cottage.slug }}={{ page_obj.next_page_number }}#reviews-section" class="btn btn-dark">
        Next 3 Reviews &#8594;
      </a>
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}
